.card {

  width: 100px;
  height: 100px;

  background: #ffd6e7;

  border: 2px solid #ffc0d9;

  border-radius: 15px;

  font-size: 45px;

  display: flex;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: black;

}
